<div id="body">
    <h1><span>style detail</span></h1>
    <div>
        <img src="/<%= style.imageURL %>" alt="">
        <div class="article">
            <h4><%= style.title %></h4>
            <p>
                <%= style.description %>
            </p>
        </div>
    </div>
</div>