<div id="header">
    <a href="/" class="logo">
        <img src="/images/logo.jpg" alt="">
    </a>
    <ul id="navigation">
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/about">about</a>
        </li>
        <li>
            <a href="/styles">gallery</a>
        </li>
        <li>
            <a href="/blog">blog</a>
        </li>
        <li>
            <a href="/contact/new">contact</a>
        </li>
        <li>
            <a href="/contact-list">contact requests</a>
        </li>
        <li>
            <a href="/blog/new">New Post</a>
        </li>
    </ul>
</div>