<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mustacchio</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/mobile.css" media="screen and (max-width : 568px)">
	<link rel="shortcut icon" type="image/png" href="/images/icons/icon-mustache.png"/>
	<script type="text/javascript" src="/js/mobile.js"></script>
</head>
<body>
    
    <%- include('partials/_nav.ejs') %>

    <%- body %>
    
    <%- include('partials/_footer.ejs') %>

</body>
</html>